@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Mochiy+Pop+P+One&display=swap');
:root {
  --color_base: black;
  --color_heart: red;
}

body {
  background-color: var(--color_base);
  text-align: center;
}

.heart {
  width: 670px;
  height: 670px;
  margin-top: 13%;
}
.heart__path {
  -webkit-animation: groove 6s 3000 alternate;
          animation: groove 6s 3000 alternate;
  fill: transparent;
  stroke: var(--color_heart);
  stroke-dasharray: 0;
  stroke-width: 10px;
}

@-webkit-keyframes groove {
  0%, 100% {
    stroke-dasharray: 1600;
  }
  25%, 75% {
    stroke-dasharray: 70;
  }
  50% {
    stroke-dasharray: 150;
  }
}

@keyframes groove {
  0%, 100% {
    stroke-dasharray: 1600;
  }
  25%, 75% {
    stroke-dasharray: 70;
  }
  50% {
    stroke-dasharray: 150;
  }
}
.yt-link {
  /* background-color: red; */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.2);
  /* box-shadow: 10px 10px 15px blue; */
}